body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EDE0E0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logo {
    width: 300px;
    height: auto;
}

.navMenuItem {
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.navMenuItem:hover {
    background-color: #beaeae;
}

.active {
    background: #beaeae;
}

.tabela {
    background-color: #EDE0E0 !important;
}