@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    margin: 0;
    font-family: 'Varela Round', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EDE0E0;
    font-size: 0.9rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logo {
    width: 300px;
    height: auto;
}

.navMenuItem {
    padding: 0.8rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: baseline;
    gap: 0.2rem;
    background-color: #decfcf;
    text-wrap: balance
}

.navMenuItem:hover {
    background-color: #beaeae;
}

.active {
    background: #beaeae;
}

.tabela {
    background-color: #EDE0E0 !important;
}

.torta:hover {
    background-color: rgb(245, 242, 235);
}

.cijenaText {
    text-align: right;
    font-weight: bolder;
}

.loader {
    width: 300px;
    height: auto;
}